@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Vibur&display=swap");

body {
  /* background: var(--black); */
  @apply dark:bg-black;
  font-family: "Vibur", cursive;
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.todo-deck {
  @apply flex flex-col items-center;
}

.columns {
  display: flex;
}

.column {
  @apply m-4  bg-gray-200  ring-1 ring-gray-300 dark:bg-[#000000] rounded-xl;
}

.column-title {
  @apply text-3xl font-bold text-black dark:text-white flex justify-center items-center py-4;
}

.task-list::-webkit-scrollbar {
  width: 0.5em;
}
.task-list::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-white;
}

.item {
  @apply flex justify-center items-center 
  bg-gray-200  ring-1 ring-gray-300 dark:bg-[#000000] rounded-xl 
  p-4  
text-black dark:text-white
  border border-transparent border-indigo-50
  shadow text-2xl;
  user-select: none;
}

.item.is-dragging {
  @apply shadow-lg border border-transparent dark:bg-slate-600 border-indigo-50;
}

.text-shadow {
  text-shadow: -1px 0 #ececec, 0 1px #ececec, 1px 0 #ececec, 0 -1px #ececec;
}
